$body-font: 'Miso', sans-serif !important;
$head-font: 'Bebas', sans-serif;
$alt-head: 'Bebas Neue', sans-serif;

$not-black:#232323;      

@-webkit-viewport { width:device-width; }
   @-moz-viewport { width:device-width; }
    @-ms-viewport { width:device-width; }
     @-o-viewport { width:device-width; }
        @viewport { width:device-width; }